@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #FFF1F2; */
  background-color: white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.chatScroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.chatScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F9F9F9;
  border-radius: 10px;
}

/* Handle */
.chatScroll::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 10px;
}

/* Handle on hover */
.chatScroll::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

